#choice1 {font-family: 'Anton', sans-serif;}
#choice2 {font-family: 'Chango', cursive;}
#choice3 {font-family: 'Pacifico', cursive;}
#choice4 {font-family: 'Abril Fatface', cursive;}
#choice5 {font-family: 'Francois One', sans-serif;}
#choice6 {font-family: 'Permanent Marker', cursive;}

#choice1b {font-size:'0.5em',font-family: 'News Cycle', sans-serif;}
#choice2b {font-family: 'Josefin Slab', serif;}
#choice3b {font-family: 'Gudea', sans-serif;}
#choice4b {font-family: 'Khula', sans-serif;}
#choice5b {font-family: 'Ruda', sans-serif;}
#choice6b {font-family: 'Advent Pro', sans-serif;}


